<div class="row">

  <div class="col-md-4">
    <h3>Best beers</h3>
    <%= render 'best', tops: @best_beers %>
  </div>

  <div class="col-md-4">
    <h3>Best breweries</h3>
    <%= render 'best', tops: @best_breweries %>
  </div>

  <div class="col-md-4">
    <h3>Best styles</h3>
    <%= render 'best', tops: @best_styles %>
  </div>

</div>

<h3>Most active users</h3>

<%= render 'most_active', users: @most_active_users %>

<%= render 'recent', ratings: @recent_ratings %>
<br>
<%= link_to 'new rating', new_rating_path, class:"btn btn-success" %>


<h2>List of ratings</h2>

<p>
  Number of ratings <%= @ratings.count %>
</p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>